# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/IT_10_NETBEANS/nbproject/private/
/IT_10_NETBEANS/build/
/IT_10_NETBEANS/dist/
/IT_10_NETBEANS/ProjectExample/ExampleForProject/nbproject/private/
/IT_10_NETBEANS/ProjectExample/ExampleForProject/build/
/IT_10_NETBEANS/ProjectExample/Method/nbproject/private/
/IT_10_NETBEANS/Methods/nbproject/private/
/IT_10_NETBEANS/Methods/build/
/IT_10_NETBEANS/OOP/nbproject/private/
/IT_10_NETBEANS/OOP/build/
/IT_10_NETBEANS/ConditionalsRevision/nbproject/private/
/IT_10_NETBEANS/ConditionalsRevision/build/
/IT_10_NETBEANS/NS_term_3_test-20210906T093046Z-001/KH_term_3_test/nbproject/private/
/IT_10_NETBEANS/NS_term_3_test-20210906T093046Z-001/KH_term_3_test/build/
/sql/UsingSQLwithJava/nbproject/private/
/sql/UsingSQLwithJava/build/
/sql/TestingGooga/nbproject/private/
/GoggaNetBeans/nbproject/private/
/GoggaNetBeans/build/
/GoggaNetBeansTest/nbproject/private/
/GoggaNetBeansTest/build/
/JavaApplication65/nbproject/private/
/JavaApplication65/build/
/GOGGA_NETBEANS/GoggaTest/nbproject/private/
/GOGGA_NETBEANS/GoggaTest/build/
